{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="picture">
    <h1>{{ title }}</h1>
</div>

<!--Début du formulaire-->
{{ form_start(formArticle)}}

    <div class="container">
        {{ form_row(formArticle.prenom, {'attr': {'placeholder': "Entrer le prenom de l'animal *"}}) }}
        {{ form_row(formArticle.categorie) }}
        {{ form_row(formArticle.race, {'attr': {'placeholder': "Entrer la race de l'animal *"}}) }}
        {{ form_row(formArticle.sexe, {'attr': {'placeholder': "Entrer le sexe de l'animal ( male ou femelle ) *"}}) }}
        {{ form_row(formArticle.age, {'attr': {'placeholder': "Entrer l'age de l'animal en chiffre seulement *"}}) }}
        {{ form_row(formArticle.grand_descriptif, {'attr': {'placeholder': "Ecrire un descriptif de l'animal *"}}) }}
        {{ form_row(formArticle.Entente, {'attr': {'placeholder': "Entrer ici si l'animal s'entend avec des animaux si oui lesquels, ou non *"}}) }}
        {{ form_row(formArticle.image, {'attr': {'placeholder': "Inserer une image de l'animal en question *"}}) }}


        <!-- si on modifie on affiche les images qu'il y a dedans en bas de la page -->
        <h3>Images</h3>
        <div>       
             {% for image in article.images %}
        <img src="{{ asset('/uploads/' ~ image.name) }}" width="200" alt="nnn">
        <a href="{{ path('delete_image', {'id': image.id}) }}" 
        data-delete data-token="{{ csrf_token('delete' ~ image.id ) }}">Supprimer</a>
            {% endfor%}
        </div>

        <!-- button qui permet d'enregister ou ajouter -->
        <button class="btn btn-primary mb-4 mt-4" type="submit">
            {% if editMode %}
                Enregister les modification

            {% else %}
                Ajouter l'article

            {% endif %}
        </button>
        
    </div>

    <!--Fin du formulaire-->
    {{ form_end(formArticle)}}
    
    
    {% block javascript %}
        <script src="{{ asset('js/images.js') }}"></script>
    {% endblock %}


{% endblock %}    
