{% extends 'base.html.twig'%}

{% block body %}
<div class="picture">
    <h1>{{ title }}</h1>
</div>
<h3 class="text-center"> {{ article.prenom}}</h3>


<div class="container d-flex justify-content-center">
    {% for image in article.images %}
    <img src="{{ asset('/uploads/' ~ image.name) }}" width="800" alt="nnn">
    {% endfor%}

</div>
<div class="container mt-5 mb-5">
    
    <!-- Afficher le message de succès -->
    {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {% endfor %}

    <ul class="list-group">
        
        <li class="list-group-item d-flex"><strong>Type : </strong> <p class="ml-2">{{ article.categorie.titre }}</p></li> 
        <li class="list-group-item d-flex"><strong>Race :</strong> <p class="ml-2">{{ article.race}}</p></li> 
        <li class="list-group-item d-flex"><strong>Sexe :</strong> <p class="ml-2">{{ article.sexe}}</p></li> 
        <li class="list-group-item d-flex"><strong>Age :</strong> <p class="ml-2">{{ article.age}}ans</p></li> 
        <li class="list-group-item d-flex"><strong>Descriptif:</strong> <p class="ml-2">{{ article.granddescriptif | raw}}</p></li>
        <li class="list-group-item d-flex"><strong>Entente :</strong> <p class="ml-2"> {{ article.entente}}</p></li> 
        <li class="list-group-item d-flex"><strong>Ville :</strong> <p class="ml-2">{{ article.user.ville}}
        </p></li> 
        <li class="list-group-item d-flex"><strong>Adresse :</strong> <p class="ml-2">1{{ article.user.adresse}}
        </p></li> 
        <li class="list-group-item d-flex"><strong>Numéro :</strong> <p class="ml-2">{{ article.user.numeroTelephone}}
        </p></li> 
    </ul>
    
</div>  

{% endblock%}